# RETWEETER configuration
# This is a comment.

API.Twitter:
    access_key: '   CONFIGURE ME    '
    access_secret: '    CONFIGURE ME    '
    consumer_key: '   CONFIGURE ME    '
    consumer_secret: '    CONFIGURE ME    '

TWEET:
  # "Retweet messages" - List of messages
  # They will be picked randomly and used as text for the retweet of mentions.
  #
  # Example:
  #   retweet_messages[]=one foobarish example of tweet
  #   retweet_messages[]="This is how I found God"
  #
  # Note:
  # - the `[]` implies that the variable is an array
  # - remember to consider the max lenght of a tweet, when adding new messages
  #
  retweet_messages:
  - 'esempio tweet'
  - '#iGattiniOdianoSalvini https://imgur.com/0ZlAC0P'
  - 'https://imgur.com/miOWDkq'
  - '#iGattiniOdianoSalvini https://imgur.com/0ZlAC0P'
